// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here

//NAVIGERING
.navbar-brand img {
    height: 50px; /* Standardhöjd för loggor */
    width: auto; /* Behåll proportionerna */
}

.navbar {
    transition: 0.3s;
}

.navbar.transparent{
    background-color: transparent !important;
}
.navbar-toggler.btn-dark {
    background-color: #343a40; /* Mörk bakgrundsfärg */
}

// HERO IMAGE
.hero {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.startHero {
    background-image: url("/assets/pics/624e27fde335d49e2dd3c6b75c6027a3.jpeg");
}

.bootstrapHero {
    background-image: url("/assets/pics/ba465451b38bddc705e9d628955b2211dbba7c9c-cover.png");  
}

.hero-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 0.5rem;
}